@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --primary: 199 68% 82%;
    --primary-foreground: 199 50% 15%;
    --secondary: 276 38% 85%;
    --secondary-foreground: 276 50% 15%;
    --muted: 210 40% 96%;
    --muted-foreground: 210 40% 45%;
    --accent: 276 38% 85%;
    --accent-foreground: 276 50% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 30% 85%;
    --input: 217 30% 85%;
    --ring: 199 68% 60%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
